* {
	text-align: center;
	font-family: 'Arya', sans-serif;
}

.sv-header {
	background: url("../images/silicon-valley-header.jpg");
	align-content: center;
	padding: 10%;
	margin: 0 auto;
}

#h1-box {
	background: rgba(0, 0, 0, 0.7);
	padding: 3%;
	width: 35%;
	margin-left: 5%;
}

#h1-format {
	width: 100%;
	font-family: 'Arya', sans-serif;
	color: rgb(255, 0, 0);
	font-weight: bolder;
	text-align: left;
	font-size: 4em;
}

#start {
	margin-top: 2%;
}

h3 {
	padding-top: 2%;
}

.btn-answers {
	margin: 1%;
}

#timer {
	padding-top: 2%;
}

#counter-number {
	margin-top: 3%;
	border: 1px solid red;
	padding: 0 6%;
}

/*==========  Mobile First Method  ==========*/
 
	/* Custom, iPhone Retina */
	@media only screen and (min-width : 320px){
		#h1-box {
			background: rgba(0, 0, 0, 0.7);
			padding: 3%;
			width: 85%;
			margin-left: 5%;
		}
		#counter-number {
			margin-top: 2%;
			border: 1px solid red;
			padding: 0 6%;
		}
		   }
		
		   /* Extra Small Devices, Phones */
		   @media only screen and (min-width : 480px){
			#h1-box {
				background: rgba(0, 0, 0, 0.7);
				padding: 3%;
				width: 50%;
				margin-left: 5%;
			}
			#counter-number {
				margin-top: 2%;
				border: 1px solid red;
				padding: 0 6%;
			}
		   }
		
		   /* Small Devices, Tablets */
		   @media only screen and (min-width : 768px){
			#h1-box {
				background: rgba(0, 0, 0, 0.7);
				padding: 3%;
				width: 40%;
				margin-left: 5%;
			}
			#counter-number {
				margin-top: 2%;
				border: 1px solid red;
				padding: 0 4%;
			}
		   }
		
		   /* Medium Devices, Desktops */
		   @media only screen and (min-width : 992px){
			#h1-box {
				background: rgba(0, 0, 0, 0.7);
				padding: 3%;
				width: 35%;
				margin-left: 5%;
			}
			#counter-number {
				margin-top: 2%;
				border: 1px solid red;
				padding: 0 6%;
			}
		   }
		
		   /* Large Devices, Wide Screens */
		   @media only screen and (min-width : 1200px){
			#h1-box {
				background: rgba(0, 0, 0, 0.7);
				padding: 3%;
				width: 35%;
				margin-left: 5%;
			}
			#counter-number {
				margin-top: 2%;
				border: 1px solid red;
				padding: 0 3%;
			}
		   }