* {
	text-align: center;
	font-family: 'Arya', sans-serif;
}

.sv-header {
	background: url("../images/silicon-valley-header.jpg");
	align-content: center;
	padding: 10%;
	margin: 0 auto;
}

#h1-box {
	background: rgba(0, 0, 0, 0.7);
	padding: 3%;
	width: 35%;
	margin-left: 5%;
}

#h1-format {
	width: 100%;
	font-family: 'Arya', sans-serif;
	color: rgb(255, 0, 0);
	font-weight: bolder;
	text-align: left;
	font-size: 4em;
}

#quiz {
	background-color: #ccc;
	width: 500px;
	height: 500px;
	margin: 25px 0 150px 0;
}

@media (min-width: @screen-sm-min) {
	#h1-box {
		background: rgba(0, 0, 0, 0.7);
		padding: 3%;
		width: 75%;
		margin-left: 5%;
	}
}

